.tattooCardDesign {
  height: 16em;
  width: 14em;

  border-radius: 1em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: darkcyan;
  border: 0.2 solid black;

  transition: 200ms;

  margin: 1em;
}

.tattooCardDesign:hover {
  transform: scale(1.05);
  transition: 200ms;
}

.selectedCard {
  background-color: red;
}

.tattoo {
  height: 10em;
  width: 10em;
}
