.galleryDesign {
  height: 84vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: beige;
}

.tattooRoster {
  display: flex;
  flex-wrap: wrap;
}

.imageTattoo {
  height: 8em;
}
