.galleryDesign {
  height: 90vh;
  width: 100vw;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);

  text-align: center;
  font-weight: lighter;
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  flex-wrap: wrap;
}

.bg-container-gallery {
  position: relative;
  height: 90vh;
  overflow: hidden;
  background-image: url(./src/assets/images/sciptink-4.jpeg);
  background-size: cover;
  background-position: center 22%;
}

.bg-container-gallery::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
  z-index: 1;
}
.imageTattoo {
  z-index: 1;
}

.txt {
  text-align: center;
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
