

.profileDesign {

    height: 84vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: beige;
}

.editDesign {

    height: 2em;
    width: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: orange;

    color: white;

    cursor: pointer;

    border-radius: 1em;
    transition: 0.3s;
}

.editDesign:hover {

    transition: 0.3s;
    background-color: darkorange;
}

.sendDesign {
    height: 2em;
    width: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: red;

    color: white;

    cursor: pointer;

    border-radius: 1em;
    transition: 0.3s;
}

.sendDesign:hover {

    transition: 0.3s;
    background-color: crimson;
}