
.linkButtonDesign {

    color: white;
    font-weight: bolder;
    transition: 0.4s;
    margin-right: 2em;
    margin-bottom: 0.5em;
}

.linkButtonDesign:hover {

    transition: 0.4s;
    color: grey;
    cursor: pointer;
}