input{
  all: none;
}

.inputDesign {
  height: 2em;
  width: 15em;

  border-radius: 0.3em;
  border: 0.3 solid rgb(0, 0, 0);

  margin-bottom: 4em;
}

.inputDesignError {
  border: 0.2em red solid;
}
