.usersDesign {
  height: 90vh;
  width: 100vw;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: start;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);

  text-align: center;
  font-weight: lighter;
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.userCards{
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin:1em;
  align-items: center;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  border-color: rgb(0, 0, 0);
  border-width: 0.2;
  border-style: solid;
  width: 50em;
  height: 5em;
}

.buttonDelUSer {
  height: 2.5em;
  width: 8em;

  border-radius: 1em;
  background-color: crimson;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
}

.buttonDelUSer:hover {
  transition: 0.4s;
  background-color: lightcoral;
  cursor: pointer;
}
